<footer class="quest-row main-footer">
    <div class="container">
        <div class="row">
            <article class="col-md-4 widget_black_studio_tinymce" id="black-studio-tinymce-9">
                <h3>Press</h3>
                <div class="textwidget">
                    <ul class="footer-links">
                        <li><a href="https://dot.kde.org/2015/07/25/plasma-mobile-free-mobile-platform/" target="_blank">KDE Dot!</a></li>
                        <li><a href="https://planet.kde.org/" target="_blank">Planet KDE</a></li>
                    </ul>
                </div>
            </article>
            <article class="col-md-4 widget_black_studio_tinymce" id="black-studio-tinymce-8">
                <h3>Community</h3>
                <div class="textwidget">
                    <ul class="footer-links">
                        <li><a href="https://forum.kde.org/viewforum.php?f=293" target="_blank">Community Forums</a></li>
                    </ul>
                </div>
            </article>
            <article class="col-md-4 widget_black_studio_tinymce" id="black-studio-tinymce-10">
                <h3>Social</h3>
                <div class="textwidget">
                    <ul class="footer-links">
                        <li><a href="https://fosstodon.org/@plasmamobile" rel="me" target="_blank">Plasma Mobile on Mastodon</a></li>
                        <li><a href="https://mastodon.technology/@kde" target="_blank">KDE on Mastodon</a></li>
                        <li><a href="https://twitter.com/kdecommunity" target="_blank">KDE Community on Twitter</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
    <div class="developerLinks">
        <a href="https://community.kde.org/Get_Involved" target="_blank">Get Involved in KDE</a>
    </div>
</footer>

<footer id="colophon" class="copyright quest-row" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-12 copyright-text">
                <span style="float: right;">Plasma Mobile © <a href="http://ev.kde.org/">2015-20 KDE e.v.</a></span>
            </div>

            <div class="col-md-6 social-icon-container clearfix">
                <ul>
                </ul>
            </div>

        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end quest-row -->
